Repository greendrop/flutter_news_sample: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-format, flutter-analyze, flutter-import-sorter

flutter-format:
  name: Flutter Format
  entry: .pre-commit/flutter-format
  language: script

flutter-analyze:
  name: Flutter Analyze
  entry: .pre-commit/flutter-analyze
  language: script
  pass_filenames: false

flutter-import-sorter:
  name: Flutter Import Sorter
  entry: .pre-commit/flutter-import-sorter
  language: script
  require_serial: true

flutter pub add 'dev:integration_test:{sdk:flutter}'
  pubspec.lock
  pubspec.yaml
Due: flutter-analyze

wiremock を docker で構築
  compose.yml
  wiremock/__files/.keep
  wiremock/extensions/.keep
  wiremock/mappings/.keep
  wiremock/mappings/ping.json
Due: none

WIP: integration_test を導入
  .gitignore
  integration_test/roboto/base_driver.dart
  integration_test/roboto/base_findable.dart
  integration_test/roboto/locale_setting/locale_setting_page_driver.dart
  integration_test/roboto/locale_setting/locale_setting_page_findable.dart
  integration_test/roboto/news_article_list/news_article_list_page_driver.dart
  integration_test/roboto/news_article_list/news_article_list_page_findable.dart
  integration_test/roboto/setting/setting_page_driver.dart
  integration_test/roboto/setting/setting_page_findable.dart
  integration_test/roboto/theme_setting/theme_setting_page_driver.dart
  integration_test/roboto/theme_setting/theme_setting_page_findable.dart
  integration_test/suite/general_test.dart
  integration_test/support/integration_test_widgets.dart
  integration_test/test/locale_setting_test.dart
  integration_test/test/news_article_test.dart
  integration_test/test/theme_setting_test.dart
  ios/Podfile.lock
  lib/feature/app_navigation/widget/app_navigation_bar.dart
  lib/feature/app_navigation/widget/app_navigation_rail.dart
  lib/feature/setting/widget/setting_page.dart
  lib/feature/theme_setting/widget/theme_setting_form.dart
  test/feature/app_navigation/widget/app_navigation_bar_test.dart
  test/feature/app_navigation/widget/app_navigation_rail_test.dart
  test_driver/integration_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

integration_test を導入
  .vscode/tasks.json
  dart_define/integration_test_android_sample.json
  dart_define/integration_test_ios_sample.json
  doc/development/command.md
  doc/development/setup.md
  integration_test/config/integration_test_config.dart
  integration_test/roboto/news_article_detail/news_article_detail_page_driver.dart
  integration_test/roboto/news_article_detail/news_article_detail_page_findable.dart
  integration_test/roboto/news_article_search/news_article_search_page_driver.dart
  integration_test/roboto/news_article_search/news_article_search_page_findable.dart
  integration_test/roboto/setting/setting_page_driver.dart
  integration_test/roboto/setting/setting_page_findable.dart
  integration_test/suite/general_test.dart
  integration_test/support/integration_test_widgets.dart
  integration_test/test/locale_setting_test.dart
  integration_test/test/news_article_search_test.dart
  integration_test/test/theme_setting_test.dart
  integration_test/wiremock/newsapi/everything/success.dart
  integration_test/wiremock/newsapi/top_headlines/success.dart
  integration_test/wiremock/reset.dart
  integration_test/wiremock/wiremock_admin_mappings_client.dart
  lib/config/app_config.dart
  lib/feature/app_logger/riverpod/app_logger.dart
  lib/feature/app_logger/riverpod/app_logger.g.dart
  lib/feature/news_api/client/news_everything_client.dart
  lib/feature/news_api/client/news_top_headlines_client.dart
  lib/feature/news_api/repository/news_everything_repository.dart
  lib/feature/news_api/repository/news_top_headlines_repository.dart
  test/feature/news_article_search/widget/news_article_search_form_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

actionlint v1.7.4 に更新
  .github/workflows/github_actions_lint.yml
Due: none

GitHub Actions Flutter Integration Test on Android を追加
  .github/workflows/flutter_integration_test_on_android.yml
  .github/workflows/flutter_test.yml
  compose.yml
  doc/architecture/continuous_integration.md
  doc/development/command.md
Due: none

gradle.parallel gradle.parallel=true を追加
  android/gradle.properties
Due: none

gradle.parallel org.gradle.caching=true を追加
  .github/workflows/flutter_integration_test_on_android.yml
  android/gradle.properties
Due: none

GitHub Actions Flutter Integration Test on iOS を追加
  .github/workflows/deploy_android_prod.yml
  .github/workflows/deploy_android_stg.yml
  .github/workflows/flutter_integration_test_on_android.yml
  .github/workflows/flutter_integration_test_on_ios.yml
  .github/workflows/git-pr-release.yml
  .github/workflows/git-pr-sync-main-to-develop.yml
  .ruby-version
  doc/architecture/continuous_integration.md
  ios/Runner.xcodeproj/project.pbxproj
Due: none

GitHub Actions Pods をキャッシュ
  .github/workflows/flutter_integration_test_on_ios.yml
Due: none

Revert "gradle.parallel org.gradle.caching=true を追加"
  .github/workflows/flutter_integration_test_on_android.yml
  android/gradle.properties
Due: none

GitHub Actions WireMock を wiremock-standalone.jar で統一
  .github/workflows/flutter_integration_test_on_android.yml
  .github/workflows/flutter_integration_test_on_ios.yml
Due: none

GitHub Actions flutter drive で --no-pub オプションを追加
  .github/workflows/flutter_integration_test_on_android.yml
Due: none

テストアーキテクチャのドキュメントを追加
  README.md
  doc/architecture/test.md
Due: none

Deploy Android (Stg) を workflow_dispatch と issue_comment(slash command) で分割
  .github/workflows/deploy_android_stg.yml
  .github/workflows/deploy_android_stg_on_slash_command.yml
Due: none

slash command で workflow dispatch へ渡すPR Number を追加
  .github/workflows/deploy_android_stg_on_slash_command.yml
Due: none

slash command で workflow dispatch へ渡すPR Number を文字列に変更
  .github/workflows/deploy_android_stg.yml
  .github/workflows/deploy_android_stg_on_slash_command.yml
Due: none

workflow dispatch で渡された PR Number の 数値チェックを修正
  .github/workflows/deploy_android_stg.yml
Due: none

GitHub Actions にて Cflutter integration test で作成されるファイル情報を表示
  .github/workflows/flutter_integration_test_on_android.yml
  android/app/build.gradle
Due: none

GitHub Actions で稀にエラーとなるため、一時的に sleep を入れる
  integration_test/test/news_article_search_test.dart
  integration_test/test/news_article_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

GitHub Actions Dependabot が作成したPRは secrets を参照できないため、 vars に変更
  .github/workflows/flutter_integration_test_on_android.yml
  .github/workflows/flutter_integration_test_on_ios.yml
  doc/architecture/continuous_integration.md
  ios/Podfile.lock
Due: none

flutter pub get on widgetbook
  widgetbook/pubspec.lock
Due: none

firebase_performance を更新
  pubspec.lock
  pubspec.yaml
Due: flutter-analyze

ios/Podfile.lock を再作成
  ios/Podfile.lock
Due: none

dart run build_runner build --delete-conflicting-outputs
  lib/feature/news_api/client/news_everything_client.g.dart
  lib/feature/news_api/client/news_top_headlines_client.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

flutter pub get on widgetbook
  ios/Podfile.lock
  widgetbook/pubspec.lock
Due: none

dart run build_runner build -d
  lib/config/i18n/strings.g.dart
  lib/config/i18n/strings_en.g.dart
  lib/config/i18n/strings_ja.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

slang v4 のBreaking Change 対応
  lib/app_root.dart
  lib/config/i18n/strings.g.dart
  lib/main.dart
  test/feature/locale_setting/hook/use_locale_test.dart
  test/feature/news_article/widget/news_article_image_test.dart
  test/support/widget/test_material_app_router.dart
  test/support/widget/test_translation_provider.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

dart run build_runner build -d
  lib/config/i18n/strings.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

アプリケーションアーキテクチャから slang を削除
  doc/architecture/application.md
Due: none

Path conditions:
  flutter-format: any of: \.dart$
  flutter-analyze: any of: (\.dart$|pubspec.yaml)
  flutter-import-sorter: any of: \.dart$
