Repository greendrop/flutter_news_sample: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-format, flutter-analyze, flutter-import-sorter

flutter-format:
  name: Flutter Format
  entry: .pre-commit/flutter-format
  language: script

flutter-analyze:
  name: Flutter Analyze
  entry: .pre-commit/flutter-analyze
  language: script
  pass_filenames: false

flutter-import-sorter:
  name: Flutter Import Sorter
  entry: .pre-commit/flutter-import-sorter
  language: script
  require_serial: true

ディープリンク・審査についてのトピックを追加
  README.md
  doc/topics/topics_for_non_smartphone_engineers.md
Due: none

SettingPage DevToolListTile のテストを追加
  lib/feature/app_router/hook/use_app_router.dart
  lib/feature/setting/widget/setting_page.dart
  test/feature/setting/widget/dev_tool_list_tile_test.dart
  test/feature/setting/widget/setting_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

非スマホエンジニア向けのトピック の見出しを修正
  doc/topics/topics_for_non_smartphone_engineers.md
Due: none

スワイプで前画面に戻るように対応
  lib/config/app_constant.dart
  lib/feature/app_log_detail/widget/app_log_detail_page.dart
  lib/feature/app_log_list/widget/app_log_list_page.dart
  lib/feature/dev_tool/widget/dev_tool_page.dart
  lib/feature/locale_setting/widget/locale_setting_page.dart
  lib/feature/navigator/hook/use_navigator_state.dart
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
  lib/feature/theme_setting/widget/theme_setting_page.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

dependabot の設定を追加
  .github/dependabot.yml
Due: none

dependencies retrofit をグループ化
  .github/dependabot.yml
Due: none

dart run build_runner build -d
  lib/feature/news_api/client/news_everything_client.g.dart
  lib/feature/news_api/client/news_top_headlines_client.g.dart
  lib/feature/news_article_search/riverpod/news_articles_notifier.g.dart
  pubspec.lock
Due: flutter-format, flutter-analyze, flutter-import-sorter

dev_tool のテストを追加
  test/feature/dev_tool/widget/app_log_list_tile_test.dart
  test/feature/dev_tool/widget/dev_tool_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

theme_setting widget のテストを追加
  test/feature/theme_setting/widget/theme_setting_form_test.dart
  test/feature/theme_setting/widget/theme_setting_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

app_log_list のテストコードを追加
  lib/feature/app_log_list/entity/app_log_file.dart
  lib/feature/app_log_list/entity/app_log_file.freezed.dart
  lib/feature/app_log_list/entity/app_log_file.g.dart
  lib/feature/app_log_list/hook/use_app_log_files.dart
  lib/feature/app_log_list/hook/use_app_logger_files.dart
  lib/feature/app_log_list/ripository/app_log_files_repository.dart
  lib/feature/app_log_list/riverpod/app_log_files_notifier.dart
  lib/feature/app_log_list/riverpod/app_log_files_notifier.g.dart
  lib/feature/app_log_list/riverpod/app_log_files_repository.dart
  lib/feature/app_log_list/riverpod/app_log_files_repository.g.dart
  lib/feature/app_log_list/riverpod/app_logger_files_notifier.dart
  lib/feature/app_log_list/riverpod/app_logger_files_notifier.g.dart
  lib/feature/app_log_list/widget/app_log_list_page.dart
  lib/feature/app_logger/repository/app_logger_repository.dart
  lib/feature/app_logger/riverpod/app_logger_directory.dart
  lib/feature/app_logger/riverpod/app_logger_directory_repository.dart
  lib/feature/app_logger/riverpod/app_logger_directory_repository.g.dart
  test/feature/app_log_list/hook/use_app_log_files_test.dart
  test/feature/app_log_list/hook/use_app_log_files_test.mocks.dart
  test/feature/app_log_list/ripository/app_log_files_repository_test.dart
  test/feature/app_log_list/ripository/app_log_files_repository_test.mocks.dart
  test/feature/app_log_list/widget/app_log_list_page_test.dart
  test/feature/theme_setting/riverpod/theme_mode_notifier_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

画面遷移のスタックを文字で表現するように変更
  doc/topics/topics_for_non_smartphone_engineers.md
Due: none

見出しタグを修正
  doc/topics/topics_for_non_smartphone_engineers.md
Due: none

go_router_builder を導入
  .github/dependabot.yml
  lib/feature/app_log_detail/hook/use_push_app_log_detail_page.dart
  lib/feature/app_log_detail/widget/app_log_detail_page.dart
  lib/feature/app_log_list/hook/use_push_app_log_list_page.dart
  lib/feature/app_log_list/widget/app_log_list_page.dart
  lib/feature/app_router/hook/use_app_router.dart
  lib/feature/app_router/navigator_observer/logger_navigator_observer.dart
  lib/feature/app_router/route_data/app_log_detail_route_data.dart
  lib/feature/app_router/route_data/app_log_list_route_data.dart
  lib/feature/app_router/route_data/app_route_data.dart
  lib/feature/app_router/route_data/app_route_data.g.dart
  lib/feature/app_router/route_data/dev_tool_route_data.dart
  lib/feature/app_router/route_data/locale_setting_route_data.dart
  lib/feature/app_router/route_data/news_article_detail_route_data.dart
  lib/feature/app_router/route_data/news_article_list_route_data.dart
  lib/feature/app_router/route_data/news_article_search_detail_route_data.dart
  lib/feature/app_router/route_data/news_article_search_route_data.dart
  lib/feature/app_router/route_data/setting_route_data.dart
  lib/feature/app_router/route_data/theme_setting_route_data.dart
  lib/feature/dev_tool/hook/use_push_dev_tool_page.dart
  lib/feature/dev_tool/widget/dev_tool_page.dart
  lib/feature/locale_setting/hook/use_push_locale_setting_page.dart
  lib/feature/locale_setting/widget/locale_setting_page.dart
  lib/feature/news_article_detail/hook/use_go_news_article_detail_page.dart
  lib/feature/news_article_detail/hook/use_go_news_article_detail_page_for_search.dart
  lib/feature/news_article_detail/hook/use_push_news_article_detail_page.dart
  lib/feature/news_article_detail/hook/use_push_news_article_detail_page_for_search.dart
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
  lib/feature/news_article_list/hook/use_go_news_article_list_page.dart
  lib/feature/news_article_list/widget/news_article_list_page.dart
  lib/feature/news_article_search/hook/use_go_news_article_search_page.dart
  lib/feature/news_article_search/widget/news_article_search_page.dart
  lib/feature/not_found/widget/not_found_page.dart
  lib/feature/setting/hook/use_go_setting_page.dart
  lib/feature/setting/widget/setting_page.dart
  lib/feature/theme_setting/hook/use_push_theme_setting_page.dart
  lib/feature/theme_setting/widget/theme_setting_page.dart
  pubspec.lock
  pubspec.yaml
Due: flutter-format, flutter-analyze, flutter-import-sorter

useGoSettingPage のテストコードを追加
  lib/feature/app_router/riverpod/setting_route_data_provider.dart
  lib/feature/app_router/riverpod/setting_route_data_provider.g.dart
  lib/feature/setting/hook/use_go_setting_page.dart
  pubspec.lock
  pubspec.yaml
  test/feature/setting/hook/use_go_setting_page_test.dart
  test/support/widget/mock_go_router_provider.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

mockito から mocktail に変更
  lib/feature/app_log_list/riverpod/app_log_files_notifier.dart
  lib/feature/app_log_list/riverpod/app_log_files_notifier.g.dart
  pubspec.lock
  pubspec.yaml
  test/feature/app_log_list/hook/use_app_log_files_test.dart
  test/feature/app_log_list/hook/use_app_log_files_test.mocks.dart
  test/feature/app_log_list/ripository/app_log_files_repository_test.dart
  test/feature/app_log_list/ripository/app_log_files_repository_test.mocks.dart
  test/feature/locale_setting/hook/use_locale_test.dart
  test/feature/locale_setting/hook/use_locale_test.mocks.dart
  test/feature/locale_setting/riverpod/locale_notifier_test.dart
  test/feature/locale_setting/riverpod/locale_notifier_test.mocks.dart
  test/feature/theme_setting/hook/use_theme_mode_test.dart
  test/feature/theme_setting/hook/use_theme_mode_test.mocks.dart
  test/feature/theme_setting/riverpod/theme_mode_notifier_test.dart
  test/feature/theme_setting/riverpod/theme_mode_notifier_test.mocks.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

usePushLocaleSettingPage のテストコードを追加
  lib/feature/app_router/riverpod/locale_setting_route_data_provider.dart
  lib/feature/app_router/riverpod/locale_setting_route_data_provider.g.dart
  lib/feature/locale_setting/hook/use_push_locale_setting_page.dart
  test/feature/locale_setting/hook/use_push_locale_setting_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

エラーメッセージが正しく表示されていなかったため修正
  lib/feature/news_api/repository/news_everything_repository.dart
  lib/feature/news_api/repository/news_top_headlines_repository.dart
  lib/feature/news_article_list/riverpod/news_articles_notifier.dart
  lib/feature/news_article_list/widget/news_article_list_page.dart
  lib/feature/news_article_search/riverpod/news_articles_notifier.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

GitHub Actions で pub get, build_runner の差分を確認
  .github/workflows/test.yml
Due: none

flutter pub get
  pubspec.lock
Due: none

dart run build_runner build -d
  lib/feature/news_article_list/riverpod/news_articles_notifier.g.dart
  lib/feature/news_article_search/riverpod/news_articles_notifier.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

build_runner の実行コマンドを dart run に変更
  .github/workflows/test.yml
Due: none

リフレッシュ時にエラーが発生した場合、SnackBarを表示
  lib/exception/app_exception.dart
  lib/feature/news_article_list/widget/news_article_list_page.dart
  lib/feature/news_article_search/widget/news_article_search_page.dart
  lib/feature/snack_bar/hook/show_danger_text_snack_bar.dart
  lib/feature/snack_bar/hook/show_default_text_snack_bar.dart
  lib/feature/snack_bar/hook/show_info_text_snack_bar.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

flutter 3.24.1 に更新
  .fvmrc
  .github/workflows/test.yml
  .vscode/settings.json
  ios/Runner/AppDelegate.swift
  pubspec.lock
  pubspec.yaml
Due: flutter-analyze

analysis_options.yaml を更新
  analysis_options.yaml
Due: none

flutter pub upgrade analyzer
  pubspec.lock
Due: none

retrofit 向けの class で `ignore: one_member_abstracts` を指定
  lib/feature/news_api/client/news_everything_client.dart
  lib/feature/news_api/client/news_top_headlines_client.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

PopScope onPopInvoked から onPopInvokedWithResult に変更
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

app_log_detail テストコードを追加
  lib/feature/app_log_detail/hook/use_app_log_file_content.dart
  lib/feature/app_log_detail/hook/use_push_app_log_detail_page.dart
  lib/feature/app_log_detail/repository/app_log_file_repository.dart
  lib/feature/app_log_detail/riverpod/app_log_file_content_notifier.dart
  lib/feature/app_log_detail/riverpod/app_log_file_content_notifier.g.dart
  lib/feature/app_log_detail/riverpod/app_log_file_repository.dart
  lib/feature/app_log_detail/riverpod/app_log_file_repository.g.dart
  lib/feature/app_log_detail/riverpod/app_logger_file.dart
  lib/feature/app_log_detail/riverpod/app_logger_file_content_notifier.dart
  lib/feature/app_log_detail/widget/app_log_detail_page.dart
  lib/feature/app_router/riverpod/app_log_detail_route_data_provider.dart
  lib/feature/app_router/riverpod/app_log_detail_route_data_provider.g.dart
  test/feature/app_log_detail/hook/use_app_log_file_content_test.dart
  test/feature/app_log_detail/hook/use_push_app_log_detail_page_test.dart
  test/feature/app_log_detail/widget/app_log_detail_page_test.dart
  test/feature/app_log_list/hook/use_app_log_files_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

dart run build_runner build -d
  lib/feature/app_log_detail/riverpod/app_log_file_content_notifier.g.dart
  pubspec.lock
Due: flutter-format, flutter-analyze, flutter-import-sorter

app_navigation のテストコードを追加
  lib/feature/app_navigation/widget/app_navigation_bar.dart
  lib/feature/app_router/hook/use_app_router_current_uri.dart
  test/feature/app_navigation/widget/app_navigation_bar_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

not_found のテストコードを追加
  test/feature/not_found/widget/not_found_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

setting 画面遷移のテストコードを追加
  lib/feature/setting/widget/setting_page.dart
  test/feature/setting/widget/setting_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

exception テストコードを追加
  test/exception/app_exception_test.dart
  test/exception/app_http_exception_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

urlLauncherWrapper から urlLauncher に変更
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
  lib/feature/news_article_list/widget/news_article_list_page.dart
  lib/feature/news_article_search/widget/news_article_search_page.dart
  lib/feature/url_launcher/hook/use_url_launcher.dart
  lib/feature/url_launcher/riverpod/url_launcher_wrapper.dart
  lib/feature/url_launcher/riverpod/url_launcher_wrapper.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

url_launcher のテストコードを追加
  lib/feature/url_launcher/hook/use_url_launcher.dart
  pubspec.lock
  pubspec.yaml
  test/feature/url_launcher/hook/use_url_launcher_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

useShareWrapper から useShare に変更
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
  lib/feature/share/hook/use_share.dart
  lib/feature/share/hook/use_share_wrapper.dart
  lib/feature/share/riverpod/share_wrapper.dart
  lib/feature/share/riverpod/share_wrapper.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

useSahre のテストコードを追加
  pubspec.lock
  pubspec.yaml
  test/feature/share/hook/use_share_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

ScaffoldWithNavBar のテストコードを追加
  lib/widget/scaffold_with_nav_bar.dart
  test/widget/scaffold_with_nav_bar_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

横向き時、NavigationRailでメニューを表示
  lib/feature/app_navigation/enum/app_navigation_index.dart
  lib/feature/app_navigation/hook/use_app_navigation_selected_index.dart
  lib/feature/app_navigation/hook/use_app_navigator_on_destination_selected.dart
  lib/feature/app_navigation/widget/app_navigation_rail.dart
  lib/feature/media_query/hook/use_media_query.dart
  lib/widget/scaffold_with_nav_bar.dart
  test/feature/app_navigation/widget/app_navigation_rail_test.dart
  test/widget/scaffold_with_nav_bar_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_article_search hook のテストコードを追加
  lib/feature/app_log_detail/hook/use_push_app_log_detail_page.dart
  lib/feature/app_router/riverpod/app_log_detail_route_data.dart
  lib/feature/app_router/riverpod/app_log_detail_route_data.g.dart
  lib/feature/app_router/riverpod/locale_setting_route_data.dart
  lib/feature/app_router/riverpod/locale_setting_route_data.g.dart
  lib/feature/app_router/riverpod/news_article_detail_route_data.dart
  lib/feature/app_router/riverpod/news_article_detail_route_data.g.dart
  lib/feature/app_router/riverpod/news_article_list_route_data.dart
  lib/feature/app_router/riverpod/news_article_list_route_data.g.dart
  lib/feature/app_router/riverpod/news_article_search_detail_route_data.dart
  lib/feature/app_router/riverpod/news_article_search_detail_route_data.g.dart
  lib/feature/app_router/riverpod/news_article_search_route_data.dart
  lib/feature/app_router/riverpod/news_article_search_route_data.g.dart
  lib/feature/app_router/riverpod/setting_route_data.dart
  lib/feature/app_router/riverpod/setting_route_data.g.dart
  lib/feature/locale_setting/hook/use_push_locale_setting_page.dart
  lib/feature/news_article/entity/news_article.dart
  lib/feature/news_article_search/hook/use_go_news_article_search_page.dart
  lib/feature/news_article_search/riverpod/news_articles_notifier.dart
  lib/feature/news_article_search/riverpod/news_articles_notifier.g.dart
  lib/feature/setting/hook/use_go_setting_page.dart
  test/feature/app_log_detail/hook/use_push_app_log_detail_page_test.dart
  test/feature/locale_setting/hook/use_push_locale_setting_page_test.dart
  test/feature/news_article_search/hook/use_go_news_article_search_page_test.dart
  test/feature/news_article_search/hook/use_news_articles_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

Path conditions:
  flutter-format: any of: \.dart$
  flutter-analyze: any of: (\.dart$|pubspec.yaml)
  flutter-import-sorter: any of: \.dart$
