Repository greendrop/flutter_news_sample: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-format, flutter-analyze, flutter-import-sorter

flutter-format:
  name: Flutter Format
  entry: .pre-commit/flutter-format
  language: script

flutter-analyze:
  name: Flutter Analyze
  entry: .pre-commit/flutter-analyze
  language: script
  pass_filenames: false

flutter-import-sorter:
  name: Flutter Import Sorter
  entry: .pre-commit/flutter-import-sorter
  language: script
  require_serial: true

news_article_search widget のテストコードを追加
  lib/feature/news_article_search/hook/use_news_articles.dart
  lib/feature/news_article_search/widget/news_article_search_form.dart
  lib/feature/news_article_search/widget/news_article_search_page.dart
  lib/feature/translation/hook/use_translations.dart
  lib/feature/url_launcher/hook/use_url_launcher.dart
  test/feature/news_article_search/widget/news_article_search_form_test.dart
  test/feature/news_article_search/widget/news_article_search_page_test.dart
  test/support/extention/widget_tester.dart
  test/support/widget/test_material_app.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

TestMaterialApp で appLoggerを上書きするように変更
  test/feature/app_navigation/widget/app_navigation_bar_test.dart
  test/feature/app_navigation/widget/app_navigation_rail_test.dart
  test/feature/dev_tool/widget/dev_tool_page_test.dart
  test/feature/not_found/widget/not_found_page_test.dart
  test/feature/setting/widget/setting_page_test.dart
  test/widget/scaffold_with_nav_bar_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

TestMaterialApp で appLoggerを上書きするように変更(hook)
  test/feature/app_log_detail/hook/use_app_log_file_content_test.dart
  test/feature/app_log_detail/hook/use_push_app_log_detail_page_test.dart
  test/feature/app_log_list/hook/use_app_log_files_test.dart
  test/feature/locale_setting/hook/use_locale_test.dart
  test/feature/locale_setting/hook/use_push_locale_setting_page_test.dart
  test/feature/news_article_search/hook/use_go_news_article_search_page_test.dart
  test/feature/news_article_search/hook/use_news_articles_test.dart
  test/feature/setting/hook/use_go_setting_page_test.dart
  test/feature/share/hook/use_share_test.dart
  test/feature/theme_setting/hook/use_theme_mode_test.dart
  test/feature/url_launcher/hook/use_url_launcher_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_article のテストコードを追加
  lib/feature/news_article/widget/news_article_grid_item.dart
  lib/feature/news_article/widget/news_article_image.dart
  pubspec.lock
  pubspec.yaml
  test/feature/news_article/widget/news_article_grid_item_test.dart
  test/feature/news_article/widget/news_article_image_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

go_router StatefulShellRoute を使用するように変更
  lib/feature/app_navigation/hook/use_app_navigation_selected_index.dart
  lib/feature/app_navigation/hook/use_app_navigator_on_destination_selected.dart
  lib/feature/app_navigation/widget/app_navigation_bar.dart
  lib/feature/app_navigation/widget/app_navigation_rail.dart
  lib/feature/app_router/route_data/app_route_data.dart
  lib/feature/app_router/route_data/app_route_data.g.dart
  lib/feature/app_router/route_data/news_article_branch_data.dart
  lib/feature/app_router/route_data/news_article_list_route_data.dart
  lib/feature/app_router/route_data/news_article_search_branch_data.dart
  lib/feature/app_router/route_data/news_article_search_route_data.dart
  lib/feature/app_router/route_data/setting_branch_data.dart
  lib/feature/app_router/route_data/setting_route_data.dart
  lib/widget/scaffold_with_nav_bar.dart
  test/feature/app_navigation/widget/app_navigation_bar_test.dart
  test/feature/app_navigation/widget/app_navigation_rail_test.dart
  test/widget/scaffold_with_nav_bar_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

routeNameを削除
  lib/feature/app_log_detail/widget/app_log_detail_page.dart
  lib/feature/app_log_list/widget/app_log_list_page.dart
  lib/feature/app_router/route_data/app_route_data.dart
  lib/feature/app_router/route_data/app_route_data.g.dart
  lib/feature/dev_tool/widget/dev_tool_page.dart
  lib/feature/locale_setting/widget/locale_setting_page.dart
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
  lib/feature/news_article_list/widget/news_article_list_page.dart
  lib/feature/news_article_search/widget/news_article_search_page.dart
  lib/feature/not_found/widget/not_found_page.dart
  lib/feature/setting/widget/setting_page.dart
  lib/feature/theme_setting/widget/theme_setting_page.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

usePushNewsArticleDetailPageForSearch から usePushNewsArticleSearchDetailPage に変更
  lib/feature/news_article_detail/hook/use_push_news_article_search_detail_page.dart
  lib/feature/news_article_search/widget/news_article_search_page.dart
  test/feature/news_article_search/widget/news_article_search_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

NewsArticleListPage の引数で初期のカテゴリを指定できるように変更
  lib/feature/app_router/riverpod/news_article_list_route_data.dart
  lib/feature/app_router/riverpod/news_article_list_route_data.g.dart
  lib/feature/app_router/route_data/app_route_data.dart
  lib/feature/app_router/route_data/app_route_data.g.dart
  lib/feature/app_router/route_data/news_article_list_route_data.dart
  lib/feature/news_article_list/enum/news_headline_category.dart
  lib/feature/news_article_list/hook/use_go_news_article_list_page.dart
  lib/feature/news_article_list/widget/news_article_list_page.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_article_list hook のテストコードを追加
  lib/feature/app_router/riverpod/news_article_list_route_data.dart
  lib/feature/app_router/riverpod/news_article_list_route_data.g.dart
  lib/feature/news_article_list/hook/use_go_news_article_list_page.dart
  test/feature/news_article_list/hook/use_go_news_article_list_page_test.dart
  test/feature/news_article_list/hook/use_news_articles_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_article_list widget のテストコードを追加
  lib/feature/news_article_list/widget/news_article_list_page.dart
  test/feature/news_article_list/widget/news_article_list_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_api のテストコードを追加
  lib/feature/news_api/repository/news_everything_repository.dart
  lib/feature/news_api/repository/news_top_headlines_repository.dart
  lib/feature/news_api/riverpod/news_api_dio.dart
  lib/feature/news_api/riverpod/news_api_dio.g.dart
  lib/feature/news_api/riverpod/news_everything_repository.dart
  lib/feature/news_api/riverpod/news_everything_repository.g.dart
  lib/feature/news_api/riverpod/news_top_headlines_repository.dart
  lib/feature/news_api/riverpod/news_top_headlines_repository.g.dart
  pubspec.lock
  pubspec.yaml
  test/feature/news_api/riverpod/news_everything_repository_test.dart
  test/feature/news_api/riverpod/news_top_headlines_repository_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_article_detail hook のテストコードを追加
  lib/feature/news_article_detail/hook/use_push_news_article_detail_page.dart
  lib/feature/news_article_detail/hook/use_push_news_article_search_detail_page.dart
  test/feature/news_article_detail/hook/use_push_news_article_detail_page_test.dart
  test/feature/news_article_detail/hook/use_push_news_article_search_detail_page_test.dart
  test/feature/news_article_detail/hook/use_webview_can_go_back_test.dart
  test/feature/news_article_detail/hook/use_webview_request_go_back_test.dart
  test/feature/news_article_list/widget/news_article_list_page_test.dart
  test/feature/news_article_search/widget/news_article_search_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

news_article_detail pageとwebviewを分割し、テストコードを追加
  lib/feature/news_article_detail/hook/use_webview_can_go_back_effect.dart
  lib/feature/news_article_detail/hook/use_webview_current_progress.dart
  lib/feature/news_article_detail/hook/use_webview_current_url.dart
  lib/feature/news_article_detail/hook/use_webview_vertical_scroll_effect.dart
  lib/feature/news_article_detail/riverpod/webview_current_progress_notifier.dart
  lib/feature/news_article_detail/riverpod/webview_current_progress_notifier.g.dart
  lib/feature/news_article_detail/riverpod/webview_current_url_notifier.dart
  lib/feature/news_article_detail/riverpod/webview_current_url_notifier.g.dart
  lib/feature/news_article_detail/widget/news_article_detail_page.dart
  lib/feature/news_article_detail/widget/news_article_detail_webview.dart
  test/feature/news_article_detail/hook/use_webview_current_progress_test.dart
  test/feature/news_article_detail/hook/use_webview_current_url_test.dart
  test/feature/news_article_detail/widget/news_article_detail_page_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

GHA test の on を変更
  .github/workflows/test.yml
Due: none

GHA test code coverage を GitHub Pages に deploy
  .github/workflows/test.yml
Due: none

deploy_code_coverage に checkout を追加
  .github/workflows/test.yml
Due: none

deploy_code_coverage peaceiris/actions-gh-pages に変更
  .github/workflows/test.yml
Due: none

deploy_code_coverage .gitignore から coverage を除外
  .github/workflows/test.yml
Due: none

deploy_code_coverage actions/deploy-pages に戻す
  .github/workflows/test.yml
Due: none

github-pages にREADME, doc を追加
  .github/workflows/test.yml
Due: none

actions/upload-pages-artifact path指定漏れを修正
  .github/workflows/test.yml
Due: none

github-pages Jekyll によるbuildを追加
  .github/workflows/test.yml
Due: none

README にテストカバレッジへのリンクを追加
  .github/workflows/test.yml
  README.md
Due: none

GitHub Actions yamllint を追加
  .github/dependabot.yml
  .github/workflows/test.yml
  .github/workflows/yamllint.yml
  .yamllint.yaml
  analysis_options.yaml
  build.yaml
  flutter_launcher_icons.yaml
  pubspec.yaml
Due: flutter-analyze

GitHub Actions actionlint を追加
  .github/workflows/actionlint.yml
  .github/workflows/test.yml
Due: none

GitHub Actions Flutter向けのlintをtestから分割
  .github/workflows/flutter_lint.yml
  .github/workflows/test.yml
Due: none

不要な actions/setup-java を削除
  .github/workflows/test.yml
Due: none

subosito/flutter-action バージョン指定をflutter-version-fileに変更
  .github/workflows/test.yml
Due: none

GitHub Actions Flutter Version を .fvmrc から取得するように変更
  .github/workflows/flutter_lint.yml
  .github/workflows/test.yml
Due: none

GitHub Pages へのデプロイを削除し、コードカバレッジを出力しない
  .github/workflows/test.yml
  README.md
Due: none

octocov を導入
  .github/workflows/flutter_test.yml
  .octocov.yml
Due: none

GitHub Actions concurrency, timeout-minutes, permissions の指定を追加
  .github/workflows/flutter_lint.yml
  .github/workflows/flutter_test.yml
  .github/workflows/yamllint.yml
Due: none

.octocov.yml --- を追加
  .octocov.yml
Due: none

shellcheck disable を削除
  .github/workflows/flutter_lint.yml
  .github/workflows/flutter_test.yml
Due: none

GitHub Actions ghalint を追加
  .github/workflows/actionlint.yml
  .github/workflows/flutter_lint.yml
  .github/workflows/flutter_test.yml
  .github/workflows/github_actions_lint.yml
  .github/workflows/yamllint.yml
Due: none

yamllint comments の設定を変更
  .yamllint.yaml
Due: none

actionlint のダウンロード方法を変更
  .github/workflows/github_actions_lint.yml
Due: none

actionlint ダウンロードのtypoを修正
  .github/workflows/github_actions_lint.yml
Due: none

flutter create widgetbook --empty --platforms=web
  widgetbook/.gitignore
  widgetbook/.metadata
  widgetbook/README.md
  widgetbook/analysis_options.yaml
  widgetbook/lib/main.dart
  widgetbook/pubspec.lock
  widgetbook/pubspec.yaml
  widgetbook/web/favicon.png
  widgetbook/web/icons/Icon-192.png
  widgetbook/web/icons/Icon-512.png
  widgetbook/web/icons/Icon-maskable-192.png
  widgetbook/web/icons/Icon-maskable-512.png
  widgetbook/web/index.html
  widgetbook/web/manifest.json
Due: flutter-format, flutter-analyze, flutter-import-sorter

Path conditions:
  flutter-format: any of: \.dart$
  flutter-analyze: any of: (\.dart$|pubspec.yaml)
  flutter-import-sorter: any of: \.dart$
