Repository greendrop/flutter_news_sample: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-format, flutter-analyze, flutter-import-sorter

.pre-commit-config.yaml:

repos:
-
  repo: local
  hooks:
    -
      id: flutter-format
      name: Flutter Format
      entry: .pre-commit/flutter-format
      language: script
      files: \.dart$
-
  repo: local
  hooks:
    -
      id: flutter-analyze
      name: Flutter Analyze
      entry: .pre-commit/flutter-analyze
      language: script
      files: (\.dart$|pubspec.yaml)
      pass_filenames: false
-
  repo: local
  hooks:
    -
      id: flutter-import-sorter
      name: Flutter Import Sorter
      entry: .pre-commit/flutter-import-sorter
      language: script
      files: \.dart$
      require_serial: true

Update ghalint from 1.2.1 to 1.2.3
  .github/workflows/github-actions-lint.yml
Due: none

Update actionlint from 1.7.5 to 1.7.7
  .github/workflows/github-actions-lint.yml
Due: none

Deploy GitHub Pages pub workspaces 向けに修正
  .github/workflows/deploy_github_pages.yml
Due: none

flutter pub get
  pubspec.lock
Due: none

dart run build_runner build
  packages/app/lib/config/assets.gen.dart
  packages/app/lib/feature/news_api/client/news_everything_client.g.dart
  packages/app/lib/feature/news_api/client/news_top_headlines_client.g.dart
  packages/widgetbook/lib/main.directories.g.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

flutter v3.27.4 に更新
  .fvmrc
  .vscode/settings.json
  packages/app/pubspec.yaml
  packages/widgetbook/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: flutter-analyze

flutter pub upgrade --major-versions
  pubspec.lock
Due: none

pod update
  packages/app/ios/Podfile.lock
Due: none

flutter v3.29.2 に更新
  .fvmrc
  .vscode/settings.json
  packages/app/android/.gitignore
  packages/app/ios/.gitignore
  packages/app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/app/lib/config/l10n/l10n_en.g.dart
  packages/app/lib/config/l10n/l10n_ja.g.dart
  packages/app/pubspec.yaml
  packages/widgetbook/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: flutter-format, flutter-analyze, flutter-import-sorter

require_trailing_commas をコメントアウト
  packages/app/analysis_options.yaml
  packages/widgetbook/analysis_options.yaml
Due: none

Update ghalint from 1.2.3 to 1.3.0
  .github/workflows/github-actions-lint.yml
Due: none

very_good_analysis を導入 (widgetbook)
  packages/widgetbook/analysis_options.yaml
  packages/widgetbook/lib/feature/app_log_detail/app_log_detail_page.dart
  packages/widgetbook/lib/feature/app_log_list/app_log_list_page.dart
  packages/widgetbook/lib/feature/dev_tool/app_log_list_tile.dart
  packages/widgetbook/lib/feature/dev_tool/crash_report_test_list_tile.dart
  packages/widgetbook/lib/feature/dev_tool/dev_tool_page.dart
  packages/widgetbook/lib/feature/locale_setting/locale_setting_form.dart
  packages/widgetbook/lib/feature/locale_setting/locale_setting_page.dart
  packages/widgetbook/lib/feature/news_article/news_article_grid_item.dart
  packages/widgetbook/lib/feature/news_article/news_article_image.dart
  packages/widgetbook/lib/feature/news_article_detail/news_article_detail.dart
  packages/widgetbook/lib/feature/news_article_list/news_article_list_page.dart
  packages/widgetbook/lib/feature/news_article_search/news_article_search_form.dart
  packages/widgetbook/lib/feature/news_article_search/news_article_search_page.dart
  packages/widgetbook/lib/feature/not_found/not_found_page.dart
  packages/widgetbook/lib/feature/setting/about_app_icon.dart
  packages/widgetbook/lib/feature/setting/app_about_list_tile.dart
  packages/widgetbook/lib/feature/setting/dev_tool_list_tile.dart
  packages/widgetbook/lib/feature/setting/locale_list_tile.dart
  packages/widgetbook/lib/feature/setting/setting_page.dart
  packages/widgetbook/lib/feature/setting/theme_list_tile.dart
  packages/widgetbook/lib/feature/theme_setting/theme_setting_form.dart
  packages/widgetbook/lib/feature/theme_setting/theme_setting_page.dart
  packages/widgetbook/lib/integration/riverpod_integration.dart
  packages/widgetbook/lib/main.dart
  packages/widgetbook/lib/ui/foundation/color.dart
  packages/widgetbook/lib/ui/foundation/radius.dart
  packages/widgetbook/lib/ui/foundation/spacing.dart
  packages/widgetbook/lib/ui/foundation/typography.dart
  packages/widgetbook/lib/ui/widget/app_bar.dart
  packages/widgetbook/lib/ui/widget/button/elevated_button.dart
  packages/widgetbook/lib/ui/widget/button/filled_button.dart
  packages/widgetbook/lib/ui/widget/button/floating_action_button.dart
  packages/widgetbook/lib/ui/widget/button/outlined_button.dart
  packages/widgetbook/lib/ui/widget/button/text_button.dart
  pubspec.lock
  pubspec.yaml
Due: flutter-format, flutter-analyze, flutter-import-sorter

firebase_performance を更新
  packages/app/ios/Podfile.lock
  packages/app/pubspec.yaml
  pubspec.lock
Due: flutter-analyze

actions/create-github-app-token permission の指定を追加
  .github/workflows/github-actions-lint-update.yml
Due: none

ロード中の表示をスケルトンに変更
  packages/app/lib/config/design_token/color.dart
  packages/app/lib/feature/news_article/widget/news_article_grid_item_skeleton.dart
  packages/app/lib/feature/news_article_list/widget/news_article_list_page.dart
  packages/app/lib/feature/news_article_search/widget/news_article_search_page.dart
  packages/app/pubspec.yaml
  packages/app/test/feature/news_article/widget/goldens/ci/news_article_grid_item_skeleton/dark.png
  packages/app/test/feature/news_article/widget/goldens/ci/news_article_grid_item_skeleton/light.png
  packages/app/test/feature/news_article/widget/news_article_grid_item_skeleton_golden_test.dart
  packages/app/test/feature/news_article/widget/news_article_grid_item_skeleton_test.dart
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_phone_landscape.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_phone_landscape_dark.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_phone_portrait.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_phone_portrait_dark.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_tablet_landscape.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_tablet_landscape_dark.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_tablet_portrait.png
  packages/app/test/feature/news_article_list/widget/goldens/ci/news_article_list_page/loading_tablet_portrait_dark.png
  packages/app/test/feature/news_article_list/widget/news_article_list_page_golden_test.dart
  packages/app/test/feature/news_article_list/widget/news_article_list_page_test.dart
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_phone_landscape.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_phone_landscape_dark.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_phone_portrait.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_phone_portrait_dark.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_tablet_landscape.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_tablet_landscape_dark.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_tablet_portrait.png
  packages/app/test/feature/news_article_search/widget/goldens/ci/news_article_search_page/loading_tablet_portrait_dark.png
  packages/app/test/feature/news_article_search/widget/news_article_search_form_golden_test.dart
  packages/app/test/feature/news_article_search/widget/news_article_search_page_golden_test.dart
  packages/app/test/feature/news_article_search/widget/news_article_search_page_test.dart
  pubspec.lock
Due: flutter-format, flutter-analyze, flutter-import-sorter

widgetbook(web)でPlatform.environmentがエラーとなるため、参照しないように修正
  packages/app/lib/config/app_config.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

AppLogDetailPage Golden Test を widgetbook に追加
  .vscode/tasks.json
  packages/widgetbook/lib/feature/app_log_detail/app_log_detail_page.dart
  packages/widgetbook/test/feature/app_log_detail/app_log_detail_page_golden_test.dart
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_portrait_dark.png
  packages/widgetbook/test/flutter_test_config.dart
  packages/widgetbook/test/support/alchemist/device.dart
  packages/widgetbook/test/support/alchemist/golden_test_device_scenario.dart
  packages/widgetbook/test/support/alchemist/golden_test_widget_scenario.dart
  packages/widgetbook/test/support/logger.dart
  packages/widgetbook/test/support/widget/test_material_app.dart
  packages/widgetbook/test/support/widget/test_provider_scope.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

AppLogDetailPage Golden Test 複数デバイスをまとめて比較
  packages/widgetbook/test/feature/app_log_detail/app_log_detail_page_golden_test.dart
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_phone_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/default_tablet_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_phone_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/empty_tablet_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_phone_portrait_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_landscape.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_landscape_dark.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_portrait.png
  packages/widgetbook/test/feature/app_log_detail/goldens/ci/app_log_detail_page/loading_tablet_portrait_dark.png
Due: flutter-format, flutter-analyze, flutter-import-sorter

Golden Test の環境をローカルと CI で合わせるため、ローカルは docker(linux) で実行
  .vscode/tasks.json
  docker/flutter_golden_test/Dockerfile
  packages/widgetbook/dart_test.yaml
Due: none

GHA Flutter Golden Test on Widgetbook を追加
  .github/workflows/flutter_golden_test_on_widgetbook.yml
Due: none

Dockerfile build で FLUTTER_VERSION を .fvmrc から取得
  .vscode/tasks.json
Due: none

fix: AppLogDetailPageの読み込み状態をテスト
  packages/widgetbook/lib/feature/app_log_detail/app_log_detail_page.dart
  packages/widgetbook/test/feature/app_log_detail/app_log_detail_page_golden_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: AppLogListPageのゴールデンテストを追加
  packages/widgetbook/lib/feature/app_log_list/app_log_list_page.dart
  packages/widgetbook/test/feature/app_log_list/app_log_list_page_golden_test.dart
  packages/widgetbook/test/feature/app_log_list/goldens/ci/app_log_list_page/default.png
  packages/widgetbook/test/feature/app_log_list/goldens/ci/app_log_list_page/empty.png
  packages/widgetbook/test/feature/app_log_list/goldens/ci/app_log_list_page/loading.png
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: DevToolPageのゴールデンテストを追加
  packages/widgetbook/lib/feature/dev_tool/dev_tool_page.dart
  packages/widgetbook/test/feature/dev_tool/dev_tool_page_golden_test.dart
  packages/widgetbook/test/feature/dev_tool/goldens/ci/dev_tool_page/default.png
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: AppLogListTileのゴールデンテストを追加
  packages/widgetbook/lib/feature/dev_tool/app_log_list_tile.dart
  packages/widgetbook/test/feature/dev_tool/app_log_list_tile_golden_test.dart
  packages/widgetbook/test/feature/dev_tool/goldens/ci/app_log_list_tile/disabled.png
  packages/widgetbook/test/feature/dev_tool/goldens/ci/app_log_list_tile/enabled.png
  packages/widgetbook/test/support/alchemist/golden_test_widget_scenario.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: CrashReportListTileのゴールデンテストを追加
  packages/widgetbook/lib/feature/dev_tool/crash_report_test_list_tile.dart
  packages/widgetbook/test/feature/dev_tool/crash_report_list_tile_golden_test.dart
  packages/widgetbook/test/feature/dev_tool/goldens/ci/crash_report_list_tile/disabled.png
  packages/widgetbook/test/feature/dev_tool/goldens/ci/crash_report_list_tile/enabled.png
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: LocaleSettingFormとLocaleSettingPageのゴールデンテストを追加
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_form/default_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_form/default_light.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_landscape.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_landscape_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_portrait.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_portrait_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_landscape.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_landscape_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_portrait.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_portrait_dark.png
  packages/widgetbook/test/feature/locale_setting/locale_setting_form_golden_test.dart
  packages/widgetbook/test/feature/locale_setting/locale_setting_page_golden_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: ゴールデンテストのグループ化とテスト名の日本語化
  packages/widgetbook/test/feature/app_log_detail/app_log_detail_page_golden_test.dart
  packages/widgetbook/test/feature/app_log_list/app_log_list_page_golden_test.dart
  packages/widgetbook/test/feature/dev_tool/app_log_list_tile_golden_test.dart
  packages/widgetbook/test/feature/dev_tool/crash_report_list_tile_golden_test.dart
  packages/widgetbook/test/feature/dev_tool/dev_tool_page_golden_test.dart
  packages/widgetbook/test/feature/locale_setting/locale_setting_page_golden_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: LocaleSettingFormのゴールデンテストを改善
  packages/widgetbook/lib/feature/locale_setting/locale_setting_form.dart
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_form/default.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_form/default_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_form/default_light.png
  packages/widgetbook/test/feature/locale_setting/locale_setting_form_golden_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: NotFoundPageのゴールデンテストを追加
  packages/widgetbook/lib/feature/not_found/not_found_page.dart
  packages/widgetbook/test/feature/not_found/goldens/ci/not_found_page/default.png
  packages/widgetbook/test/feature/not_found/not_found_page_golden_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter

feat: LocaleSettingPageのゴールデンテストを改善
  packages/widgetbook/lib/feature/locale_setting/locale_setting_page.dart
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_landscape.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_landscape_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_portrait.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_phone_portrait_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_landscape.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_landscape_dark.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_portrait.png
  packages/widgetbook/test/feature/locale_setting/goldens/ci/locale_setting_page/default_tablet_portrait_dark.png
  packages/widgetbook/test/feature/locale_setting/locale_setting_page_golden_test.dart
Due: flutter-format, flutter-analyze, flutter-import-sorter
